<div class="card bg-zinc-700 rounded-md text-center h-60 cursor-pointer hover:bg-zinc-600" style="width: 18rem;margin: 5px;">
    <div class="card-header" style="color:white">
        {{title}}
    </div>
    <div class="card-body flex items-center justify-center">
        <img style="height:100px" loading="{{lazy}}" alt="{{title}}" src='{{imageSrc}}' /> 
    </div>
    <div class="card-footer" style="color:white">
        {{variables}}
    </div>
</div>