<div class="card real bg-zinc-700 rounded-md text-center h-60 cursor-pointer hover:bg-zinc-600" style="width: 18rem;margin: 5px;">
    <div class="card-header" style="color:white">
        {{title}}
    </div>
    <div class="card-body flex items-center justify-center">
        <img style="height:100px" loading="{{lazy}}" alt="{{title}}" src='{{imageSrc}}' /> 
    <div class="graphCardbtn">
        <button class="btn btn-spotify" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View" style="margin-top:5%; border-radius: 100%; margin: 10px;"><i class="fa fa-eye"></i></button>
        <button class="btn btn-gmail" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" style="margin-top:5%; border-radius: 100%; margin: 10px;"><i class="fa fa-trash-o"></i></button>
    </div>
    </div>
    <div class="card-footer" style="color:white">
        {{variables}}
    </div>
</div>